.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $white;
    margin: 2rem 0 0 0;
    padding: 3rem 0 3rem 0;
    border-top: 1px solid #e6ebee;

    &__item {
        padding: 1rem 6rem;
        display: flex;
        flex-direction: column;
    }

    &__link {
        font-size: 1.4rem;
        color: $black;
        padding: .5rem;

        &:hover {
            color: $blue;
        }
    }

    &__name {
        font-size: 1.6rem;
        font-weight: 700;

        &--title {
            font-size: 2.5rem;
            font-weight: 300;
            border-top: 3px solid $blue;
            text-transform: lowercase;
            letter-spacing: -2px;

            & b {
                font-weight: 900;
            }
        }
    }
}
