.sidenav {

    &__item {
        width: 100%;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        border-radius: .5rem;
        padding: .6rem;
        margin-bottom: 1rem;
    }

    &__header {
        border-bottom: 1px solid #e6ebee;
        padding: .8rem .8rem;
        display: flex;
        justify-content: space-between;

        &-left {
            display: flex;
            align-items: center;
        }

        &-right {
            display: flex;
            align-items: center;
        }

        &-title {
            font-size: 1.6rem;
            font-weight: 400;
        }

        &-icon {
            font-size: 1.5rem;
            color: $blue;
            cursor: pointer;
        }

        &--collapse {
            border: none;
        }
    }

    &__body {
        margin: .3rem;
        padding: .4rem 0;
        max-height: 35vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: .3em;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: $light-gray;
            border-radius: 20px;
            border: 3px solid $light-gray;
        }

        &--collapse {
            height: 0;
            margin: 0;
            padding: 0;
        }
    }

}

.category {

    &__list {
        padding: .5rem 0;
    }

    &__item {
        font-size: 1.5rem;
        font-weight: 300;
        padding: .6rem .4rem;
        cursor: pointer;
        border-radius: .5rem;
        text-transform: uppercase;

        &:hover {
            background-color: #f6f6fa;
            font-weight: 700;
            color: $blue;
        }
    }

    &--collapse {
        display: none;
    }
}

.tag {

    &__item {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 300;
        padding: .3rem .5rem;
        cursor: pointer;
        border-radius: .5rem;
        text-transform: lowercase;

        &:hover {
            background-color: #f6f6fa;
            font-weight: 700;
            color: $blue;
        }
    }
}
