@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;

300;400;700;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap);*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #f5f7fa;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

.heading-title {
  font-size: 1.9rem;
}

.heading-title--large {
  font-size: 3rem;
}

.heading-primary {
  font-size: 1.9rem;
  font-weight: 400;
}

.heading-secondary {
  font-size: 1.6rem;
  font-weight: 400;
}

.heading-tertiary {
  font-size: 1.2rem;
  font-weight: 400;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
}

.text-primary {
  color: #3762ff !important;
}

.m-1,
.p-1 {
  margin: 1rem !important;
}

.m-2,
.p-2 {
  margin: 2rem !important;
}

.m-3,
.p-3 {
  margin: 3rem !important;
}

.m-t-1,
.p-t-1 {
  margin-top: 1rem !important;
}

.m-t-2,
.p-t-2 {
  margin-top: 2rem !important;
}

.m-t-3,
.p-t-3 {
  margin-top: 3rem !important;
}

.m-r-1,
.p-r-1 {
  margin-right: 1rem !important;
}

.m-r-2,
.p-r-2 {
  margin-right: 2rem !important;
}

.m-r-3,
.p-r-3 {
  margin-right: 3rem !important;
}

.m-b-1,
.p-b-1 {
  margin-bottom: 1rem !important;
}

.m-b-2,
.p-b-2 {
  margin-bottom: 2rem !important;
}

.m-b-3,
.p-b-3 {
  margin-bottom: 3rem !important;
}

.m-l-1,
.p-l-1 {
  margin-left: 1rem !important;
}

.m-l-2,
.p-l-2 {
  margin-left: 2rem !important;
}

.m-l-3,
.p-l-3 {
  margin-left: 3rem !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-white {
  background-color: #fff;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  border: none;
  outline: none;
  padding: 0.5rem 0.7rem;
  background-color: #dbdbdb;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
}

.btn--primary {
  background-color: #3762ff;
}

.btn--light {
  background-color: #fff;
  color: #000;
}

.btn--disabled {
  opacity: 0.6;
}

.btn__loadmore {
  background-color: #3762ff;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  padding: 0.7rem 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.btn__follow {
  background-color: #3762ff;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  padding: 0.7rem 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.btn__like {
  background-color: #3762ff;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  padding: 0.7rem 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.btn__bookmark {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.6rem 0.9rem;
}

.btn__bookmark:hover {
  background-color: #e6ebee;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.card__content {
  display: flex;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4px;
}

.card__img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.3rem;
}

.card__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__btn-icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: #fff;
}

.card__btn-text {
  padding-left: 0.3rem;
}

.media {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e6ebee;
  padding: 1.8rem;
}

.media__header {
  display: flex;
  justify-content: space-between;
}

.media__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.media__footer {
  display: flex;
  align-items: center;
}

.media__content {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0.2rem;
}

.media__img {
  height: 12rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.media__icon {
  font-size: 1.6rem;
  color: #000;
  cursor: pointer;
}

.media__icon--active {
  font-size: 1.8rem;
  color: #3762ff;
  cursor: pointer;
}

.media__author {
  display: flex;
}

.media__author--avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: 2px solid #3762ff;
  padding: 0.2rem;
}

.media__author--details {
  display: flex;
  flex-direction: column;
}

.media__author--name {
  font-size: 1.7rem;
  font-weight: 400;
  cursor: pointer;
}

.media__author--date {
  font-size: 1.4rem;
  color: #777777;
}

.media__category {
  font-size: 1.4rem;
  text-transform: lowercase;
  border: 1px solid #777777;
  padding: 0.4rem 1rem;
  border-radius: 2rem;
}

.comment {
  width: 100%;
  display: flex;
  border: 1px solid #dbdbdb;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.comment__left {
  display: flex;
  align-items: flex-start;
}

.comment__right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.comment__author {
  display: flex;
}

.comment__author-img {
  width: 4.3rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.comment__author-details {
  display: flex;
  flex-direction: column;
}

.comment__author-name {
  font-size: 1.5rem;
}

.comment__author-published {
  font-size: 1.2rem;
  color: #777777;
}

.comment__option {
  display: flex;
  justify-content: flex-end;
}

.comment__option-btn {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.comment__option-btn:hover {
  background-color: #e6ebee;
}

.comment__option-icon {
  font-size: 1.1rem;
  color: #3762ff;
}

.comment__body {
  width: 100%;
  padding: 1rem;
}

.comment__message {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: justify;
}

.comment__box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}

.comment__box-input {
  width: 100%;
  border: 1px solid #e6ebee;
  outline: none;
  font-size: 1.6rem;
  margin: 0 0.5rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  resize: none;
}

.comment__box-btn {
  width: 5.5rem;
  height: 5rem;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.comment__box-icon {
  color: #3762ff;
  font-size: 2rem;
}

.comment__edit {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.comment__edit-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment__edit-input {
  width: 100%;
  border: 1px solid #e6ebee;
  outline: none;
  font-size: 1.6rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  resize: none;
}

.comment__edit-btn {
  font-size: 1.2rem;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.tab {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.tab__item {
  padding: 1rem 1rem;
  cursor: pointer;
}

.tab__item--active {
  border-bottom: 2px solid #3762ff;
}

.tab__name {
  font-size: 1.5rem;
  font-weight: 400;
}

.searchbar {
  width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.searchbar__input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 1rem;
}

.searchbar__btn {
  border: none;
  outline: none;
  width: 4.3rem;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__head {
  width: 100%;
  background-color: #f6f9fc;
  color: #8898aa;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
}

.table__body {
  width: 100%;
}

.table__row {
  width: 100%;
}

.table__heading {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  vertical-align: center;
}

.table__data {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  vertical-align: center;
}

.widget {
  width: 100%;
  padding: 0.5rem;
}

.widget__content {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 0.5rem;
}

.widget__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.widget__footer {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.widget__total {
  padding: 0.5rem;
}

.widget__title {
  padding: 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #777777;
}

.widget__number {
  padding: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.widget__icon {
  font-size: 1.6rem;
  color: #fff;
  background-color: #3762ff;
  padding: 1.5rem;
  border-radius: 50%;
}

.errors {
  background-color: #f84251;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.errors__message {
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  padding: 0.3rem;
}

.success {
  background-color: #12d312;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.success__message {
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  padding: 0.3rem;
}

.panel {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem 2rem;
  border: 1px solid #e6ebee;
}

.panel__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.panel__date {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.panel__title {
  font-size: 1.7rem;
  font-weight: 400;
}

.panel__btn {
  border-radius: 50%;
}

.panel__icon {
  color: #000;
  font-size: 1.5rem;
}

@media screen and (max-width: -1px) {
  .hidden-xs-down {
    display: none !important;
  }
}

.hidden-xs-up {
  display: none !important;
}

@media screen and (max-width: 575px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media screen and (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media screen and (max-width: 1199px) {
  .hidden-xl-down {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.container {
  max-width: 992px;
  margin: 0 auto;
}

.container--fluid {
  margin: 0;
  max-width: 100%;
}

.container__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container__col-offset-0 {
  margin-left: 0;
}

.container__col-1 {
  flex-basis: 8.3333333333%;
}

.container__col-offset-1 {
  margin-left: 8.3333333333%;
}

.container__col-2 {
  flex-basis: 16.6666666667%;
}

.container__col-offset-2 {
  margin-left: 16.6666666667%;
}

.container__col-3 {
  flex-basis: 25%;
}

.container__col-offset-3 {
  margin-left: 25%;
}

.container__col-4 {
  flex-basis: 33.3333333333%;
}

.container__col-offset-4 {
  margin-left: 33.3333333333%;
}

.container__col-5 {
  flex-basis: 41.6666666667%;
}

.container__col-offset-5 {
  margin-left: 41.6666666667%;
}

.container__col-6 {
  flex-basis: 50%;
}

.container__col-offset-6 {
  margin-left: 50%;
}

.container__col-7 {
  flex-basis: 58.3333333333%;
}

.container__col-offset-7 {
  margin-left: 58.3333333333%;
}

.container__col-8 {
  flex-basis: 66.6666666667%;
}

.container__col-offset-8 {
  margin-left: 66.6666666667%;
}

.container__col-9 {
  flex-basis: 75%;
}

.container__col-offset-9 {
  margin-left: 75%;
}

.container__col-10 {
  flex-basis: 83.3333333333%;
}

.container__col-offset-10 {
  margin-left: 83.3333333333%;
}

.container__col-11 {
  flex-basis: 91.6666666667%;
}

.container__col-offset-11 {
  margin-left: 91.6666666667%;
}

.container__col-12 {
  flex-basis: 100%;
}

.container__col-offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 576px) {
  .container__col-sm-offset-0 {
    margin-left: 0;
  }

  .container__col-sm-1 {
    flex-basis: 8.3333333333%;
  }

  .container__col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .container__col-sm-2 {
    flex-basis: 16.6666666667%;
  }

  .container__col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .container__col-sm-3 {
    flex-basis: 25%;
  }

  .container__col-sm-offset-3 {
    margin-left: 25%;
  }

  .container__col-sm-4 {
    flex-basis: 33.3333333333%;
  }

  .container__col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .container__col-sm-5 {
    flex-basis: 41.6666666667%;
  }

  .container__col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .container__col-sm-6 {
    flex-basis: 50%;
  }

  .container__col-sm-offset-6 {
    margin-left: 50%;
  }

  .container__col-sm-7 {
    flex-basis: 58.3333333333%;
  }

  .container__col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .container__col-sm-8 {
    flex-basis: 66.6666666667%;
  }

  .container__col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .container__col-sm-9 {
    flex-basis: 75%;
  }

  .container__col-sm-offset-9 {
    margin-left: 75%;
  }

  .container__col-sm-10 {
    flex-basis: 83.3333333333%;
  }

  .container__col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .container__col-sm-11 {
    flex-basis: 91.6666666667%;
  }

  .container__col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .container__col-sm-12 {
    flex-basis: 100%;
  }

  .container__col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container__col-md-offset-0 {
    margin-left: 0;
  }

  .container__col-md-1 {
    flex-basis: 8.3333333333%;
  }

  .container__col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .container__col-md-2 {
    flex-basis: 16.6666666667%;
  }

  .container__col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .container__col-md-3 {
    flex-basis: 25%;
  }

  .container__col-md-offset-3 {
    margin-left: 25%;
  }

  .container__col-md-4 {
    flex-basis: 33.3333333333%;
  }

  .container__col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .container__col-md-5 {
    flex-basis: 41.6666666667%;
  }

  .container__col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .container__col-md-6 {
    flex-basis: 50%;
  }

  .container__col-md-offset-6 {
    margin-left: 50%;
  }

  .container__col-md-7 {
    flex-basis: 58.3333333333%;
  }

  .container__col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .container__col-md-8 {
    flex-basis: 66.6666666667%;
  }

  .container__col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .container__col-md-9 {
    flex-basis: 75%;
  }

  .container__col-md-offset-9 {
    margin-left: 75%;
  }

  .container__col-md-10 {
    flex-basis: 83.3333333333%;
  }

  .container__col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .container__col-md-11 {
    flex-basis: 91.6666666667%;
  }

  .container__col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .container__col-md-12 {
    flex-basis: 100%;
  }

  .container__col-md-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 992px) {
  .container__col-lg-offset-0 {
    margin-left: 0;
  }

  .container__col-lg-1 {
    flex-basis: 8.3333333333%;
  }

  .container__col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .container__col-lg-2 {
    flex-basis: 16.6666666667%;
  }

  .container__col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .container__col-lg-3 {
    flex-basis: 25%;
  }

  .container__col-lg-offset-3 {
    margin-left: 25%;
  }

  .container__col-lg-4 {
    flex-basis: 33.3333333333%;
  }

  .container__col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .container__col-lg-5 {
    flex-basis: 41.6666666667%;
  }

  .container__col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .container__col-lg-6 {
    flex-basis: 50%;
  }

  .container__col-lg-offset-6 {
    margin-left: 50%;
  }

  .container__col-lg-7 {
    flex-basis: 58.3333333333%;
  }

  .container__col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .container__col-lg-8 {
    flex-basis: 66.6666666667%;
  }

  .container__col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .container__col-lg-9 {
    flex-basis: 75%;
  }

  .container__col-lg-offset-9 {
    margin-left: 75%;
  }

  .container__col-lg-10 {
    flex-basis: 83.3333333333%;
  }

  .container__col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .container__col-lg-11 {
    flex-basis: 91.6666666667%;
  }

  .container__col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .container__col-lg-12 {
    flex-basis: 100%;
  }

  .container__col-lg-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .container__col-xl-offset-0 {
    margin-left: 0;
  }

  .container__col-xl-1 {
    flex-basis: 8.3333333333%;
  }

  .container__col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .container__col-xl-2 {
    flex-basis: 16.6666666667%;
  }

  .container__col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .container__col-xl-3 {
    flex-basis: 25%;
  }

  .container__col-xl-offset-3 {
    margin-left: 25%;
  }

  .container__col-xl-4 {
    flex-basis: 33.3333333333%;
  }

  .container__col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .container__col-xl-5 {
    flex-basis: 41.6666666667%;
  }

  .container__col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .container__col-xl-6 {
    flex-basis: 50%;
  }

  .container__col-xl-offset-6 {
    margin-left: 50%;
  }

  .container__col-xl-7 {
    flex-basis: 58.3333333333%;
  }

  .container__col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .container__col-xl-8 {
    flex-basis: 66.6666666667%;
  }

  .container__col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .container__col-xl-9 {
    flex-basis: 75%;
  }

  .container__col-xl-offset-9 {
    margin-left: 75%;
  }

  .container__col-xl-10 {
    flex-basis: 83.3333333333%;
  }

  .container__col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .container__col-xl-11 {
    flex-basis: 91.6666666667%;
  }

  .container__col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .container__col-xl-12 {
    flex-basis: 100%;
  }

  .container__col-xl-offset-12 {
    margin-left: 100%;
  }
}

.navbar {
  width: 100%;
  height: 9vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #fff;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  margin: 0 0.7rem;
}

.nav__item--menu:hover > .nav__dropdown {
  display: block;
}

.nav__link {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link--rounded {
  background-color: #f5f7fa;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link--rounded:hover > .nav__icon {
  fill: #3762ff;
}

.nav__name {
  font-size: 1.6rem;
}

.nav__name--title {
  font-size: 2.5rem;
  font-weight: 300;
  border-top: 3px solid #3762ff;
  text-transform: lowercase;
  letter-spacing: -2px;
}

.nav__name--title b {
  font-weight: 900;
}

.nav__icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: #23282d;
}

.nav__dropdown {
  position: absolute;
  width: 38rem;
  max-height: 42rem;
  background-color: #fff;
  margin-left: -29rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
  z-index: 5;
  padding: 1rem;
  display: none;
}

.nav__dropdown-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.2rem;
  margin-bottom: 0.5rem;
}

.nav__dropdown-header--left {
  display: flex;
  align-items: center;
}

.nav__dropdown-header--right {
  display: flex;
  align-items: center;
}

.nav__dropdown-list {
  width: 100%;
  max-height: 39rem;
  overflow-y: auto;
}

.nav__dropdown-list::-webkit-scrollbar {
  width: 0.5em;
}

.nav__dropdown-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.nav__dropdown-list::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 3px solid #dbdbdb;
}

.nav__dropdown-title {
  font-size: 1.8rem;
  font-weight: 800;
}

.nav__dropdown-title--icon {
  font-size: 1.8rem;
  color: #3762ff;
}

.nav__dropdown-item {
  display: flex;
  margin-bottom: 0.4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav__dropdown-item:hover {
  background-color: #e6ebee;
}

.nav__dropdown-featured {
  width: 11rem;
  height: 7.5rem;
  padding: 0 0.5rem;
}

.nav__dropdown-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.nav__dropdown-content {
  width: 100%;
  padding: 0.5rem 0.8rem;
}

.nav__dropdown-author {
  font-size: 1.3rem;
}

.nav__dropdown-notification {
  font-size: 1.5rem;
}

.nav__dropdown-notification--unread {
  font-weight: 700;
}

.nav__dropdown-date {
  font-size: 1.2rem;
  color: #3762ff;
}

.nav__dropdown-date--unread {
  font-weight: 900;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  margin: 2rem 0 0 0;
  padding: 3rem 0 3rem 0;
  border-top: 1px solid #e6ebee;
}

.footer__item {
  padding: 1rem 6rem;
  display: flex;
  flex-direction: column;
}

.footer__link {
  font-size: 1.4rem;
  color: #000;
  padding: 0.5rem;
}

.footer__link:hover {
  color: #3762ff;
}

.footer__name {
  font-size: 1.6rem;
  font-weight: 700;
}

.footer__name--title {
  font-size: 2.5rem;
  font-weight: 300;
  border-top: 3px solid #3762ff;
  text-transform: lowercase;
  letter-spacing: -2px;
}

.footer__name--title b {
  font-weight: 900;
}

.sidenav__item {
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin-bottom: 1rem;
}

.sidenav__header {
  border-bottom: 1px solid #e6ebee;
  padding: 0.8rem 0.8rem;
  display: flex;
  justify-content: space-between;
}

.sidenav__header-left {
  display: flex;
  align-items: center;
}

.sidenav__header-right {
  display: flex;
  align-items: center;
}

.sidenav__header-title {
  font-size: 1.6rem;
  font-weight: 400;
}

.sidenav__header-icon {
  font-size: 1.5rem;
  color: #3762ff;
  cursor: pointer;
}

.sidenav__header--collapse {
  border: none;
}

.sidenav__body {
  margin: 0.3rem;
  padding: 0.4rem 0;
  max-height: 35vh;
  overflow-y: auto;
}

.sidenav__body::-webkit-scrollbar {
  width: 0.3em;
}

.sidenav__body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.sidenav__body::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 3px solid #dbdbdb;
}

.sidenav__body--collapse {
  height: 0;
  margin: 0;
  padding: 0;
}

.category__list {
  padding: 0.5rem 0;
}

.category__item {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.6rem 0.4rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.category__item:hover {
  background-color: #f6f6fa;
  font-weight: 700;
  color: #3762ff;
}

.category--collapse {
  display: none;
}

.tag__item {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-transform: lowercase;
}

.tag__item:hover {
  background-color: #f6f6fa;
  font-weight: 700;
  color: #3762ff;
}

.sidesection__item {
  margin-bottom: 0.4rem;
}

.sidesection__header {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.sidesection__header-icon {
  font-size: 1.7rem;
  color: blue;
}

.sidesection__body {
  height: 53.5vh;
  overflow-y: auto;
  padding: 0 0.4rem;
}

.sidesection__body::-webkit-scrollbar {
  width: 0.3em;
}

.sidesection__body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.sidesection__body::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 3px solid #dbdbdb;
}

.sidesection__title {
  font-size: 1.6rem;
  font-weight: 700;
}

.home {
  margin: 0.5rem;
}

.content {
  padding: 0.6rem 0;
}

.content__navigation {
  padding: 0 0.4rem;
}

.content__main {
  padding: 0 0.4rem;
}

.content__sidebar {
  padding: 0 0.4rem;
}

.write {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1.6rem 2rem;
  border-radius: 8px;
  border: 1px solid #e6ebee;
  margin-bottom: 1rem;
  cursor: pointer;
}

.write:hover {
  border: 1px solid #3762ff;
}

.write__user {
  height: 4rem;
  width: 4rem;
  fill: #3762ff;
  margin-right: 1.5rem;
}

.write__add {
  height: 2.5rem;
  width: 2.5rem;
  fill: #dbdbdb;
  margin-right: 1rem;
}

.write__text {
  font-family: inherit;
  font-size: 1.8rem;
  color: #777777;
}

.post {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.post__featured {
  width: 100%;
}

.post__img {
  width: 100%;
  border-radius: 0.5rem;
}

.post__title {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.post__title-option {
  margin-left: 1rem;
  background-color: #fff;
  border-radius: 50%;
  padding: 1rem 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__title-option:hover {
  background-color: #e6ebee;
}

.post__title-icon {
  font-size: 1.4rem;
  color: blue;
}

.post__header {
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 1.5rem;
}

.post__author {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.post__author-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__author-name {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.post__avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.post__details {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
}

.post__details-item {
  margin-right: 2rem;
  color: #777777;
}

.post__tags {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.post__tags-item {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.post__tags-item:not(:last-child) {
  margin-right: 0.5rem;
}

.post__tags-item:hover {
  background-color: #dbdbdb;
  color: blue;
}

.post__body {
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.post__content {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: justify;
  line-height: 2.2rem;
}

.post__footer {
  font-size: 1.8rem;
  padding: 1rem 0.5rem;
}

.post__footer-title {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.6rem;
}

.login {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem 4rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 0.5rem;
}

.login__header {
  margin-bottom: 1rem;
}

.login__body {
  padding: 1.5rem;
}

.login__footer {
  margin-top: 1rem;
}

.login__item {
  width: 100%;
  padding: 0.5rem 0;
}

.login__input {
  width: 100%;
  background-color: #e6ebee;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.login__title {
  font-size: 2.1rem;
  font-weight: 300;
}

.login__btn {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  border-radius: 0.4rem;
}

.login__error {
  font-size: 1.3rem;
  color: #f84251;
}

.register {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem 4rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 0.5rem;
}

.register__header {
  margin-bottom: 1rem;
}

.register__body {
  padding: 1.5rem;
}

.register__footer {
  margin-top: 1rem;
}

.register__item {
  width: 100%;
  padding: 0.5rem 0;
}

.register__input {
  width: 100%;
  background-color: #e6ebee;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.register__title {
  font-size: 2.1rem;
  font-weight: 300;
}

.register__btn {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 0.4rem;
}

.register__error {
  font-size: 1.3rem;
  color: #f84251;
}

.is-invalid {
  border: 1px solid #f84251;
}

.reset {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem 4rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 0.3rem;
}

.reset__header {
  margin-bottom: 1rem;
}

.reset__body {
  padding: 1.5rem;
}

.reset__item {
  width: 100%;
  padding: 0.5rem 0;
}

.reset__label {
  font-size: 1.6rem;
  font-weight: 300;
}

.reset__input {
  width: 100%;
  background-color: #e6ebee;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 0;
}

.reset__title {
  font-size: 2.1rem;
  font-weight: 300;
}

.reset__btn {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 0.4rem;
}

.reset__error {
  font-size: 1.3rem;
  color: #f84251;
}

.reset__success {
  font-size: 1.3rem;
  color: #12d312;
}

.profile {
  width: 100%;
}

.profile__left {
  padding: 1rem;
}

.profile__right {
  padding: 1rem;
}

.profile__header {
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1rem;
}

.profile__header-img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.profile__header-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.profile__header-body {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__header-footer {
  width: 100%;
  padding: 1rem;
}

.profile__name {
  font-size: 2.2rem;
  font-weight: 400;
}

.profile__option {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile__link {
  font-size: 1.5rem;
  padding: 1rem;
}

.profile__icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.profile__details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.profile__details-item {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.profile__sidesection {
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.profile__sidesection-item {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
}

.profile__sidesection-item:hover {
  text-decoration: underline;
}

.search {
  width: 100%;
  padding: 1rem;
}

.search__title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.search__bar {
  width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.5rem;
}

.search__bar-btn {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem 0.5rem 0 0;
}

.search__bar-icon {
  font-size: 1.8rem;
  color: #777777;
}

.search__bar-input {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 0 0.5rem 0.5rem 0;
}

.search__noresult {
  width: 100%;
  height: 60vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__noresult-icon {
  font-size: 5rem;
  color: #dbdbdb;
}

.addpost__card {
  background-color: #fff;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.addpost__title {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.addpost__item {
  width: 100%;
  margin-bottom: 1.5rem;
}

.addpost__item--editor {
  width: 100%;
  min-height: 60vh;
}

.addpost__label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.addpost__input {
  width: 100%;
  border: 1px solid #e6ebee;
  outline: none;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.addpost__input--file {
  width: 100%;
}

.addpost__checkbox {
  margin-right: 1rem;
  cursor: pointer;
}

.addpost__select {
  width: 100%;
  border: 1px solid #e6ebee;
  outline: none;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.addpost__featured {
  width: 100%;
  height: 150px;
  padding: 1rem 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.addpost__tags {
  width: 100%;
  max-height: 140px;
  overflow-y: auto;
}

.addpost__tags::-webkit-scrollbar {
  width: 0.3em;
}

.addpost__tags::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.addpost__tags::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 3px solid #dbdbdb;
}

.addpost__tags-list {
  padding: 0.5rem;
}

.addpost__tags-item {
  padding: 0.5rem;
  font-size: 1.4rem;
  border: none;
}

.addpost__btn {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
}

.editprofile,
.adduser,
.edituser {
  width: 100%;
  padding: 1rem;
}

.editprofile__item,
.adduser__item,
.edituser__item {
  width: 100%;
  padding: 0.5rem;
}

.editprofile__label,
.adduser__label,
.edituser__label {
  display: block;
  font-size: 1.5rem;
}

.editprofile__input,
.adduser__input,
.edituser__input {
  width: 100%;
  outline: none;
  border: 1px solid #e6ebee;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.editprofile__textarea,
.adduser__textarea,
.edituser__textarea {
  width: 100%;
  outline: none;
  border: 1px solid #e6ebee;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.editprofile__select,
.adduser__select,
.edituser__select {
  width: 100%;
  outline: none;
  border: 1px solid #e6ebee;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.editprofile__img,
.adduser__img,
.edituser__img {
  width: 20%;
  border-radius: 50%;
}

.editprofile__btn,
.adduser__btn,
.edituser__btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
}

.editprofile__error,
.adduser__error,
.edituser__error {
  font-size: 1.3rem;
  color: #f84251;
}

.adminpanel {
  width: 100%;
  display: flex;
}

.adminpanel__main {
  width: 84vw;
  margin-left: 16vw;
}

.sidebar {
  width: 16vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  padding: 1.4rem 2rem;
  position: fixed;
  background-color: #fff;
}

.sidebar__top {
  width: 100%;
}

.sidebar__bottom {
  width: 100%;
}

.sidebar__title {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.sidebar__list {
  width: 100%;
}

.sidebar__item {
  width: 100%;
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.sidebar__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.sidebar__item:hover {
  background-color: #e6ebee;
}

.sidebar__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: gray;
}

.sidebar__name {
  font-size: 1.3rem;
}

.sidebar__name--title {
  font-size: 2.5rem;
  font-weight: 300;
  border-top: 3px solid #3762ff;
  text-transform: lowercase;
  letter-spacing: -2px;
}

.sidebar__name--title b {
  font-weight: 900;
}

.sidebar__authuser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__authuser-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.sidebar__authuser-name {
  font-size: 1.5rem;
}

.posts {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin-top: 2rem;
}

.posts__header {
  width: 100%;
  padding: 1rem;
}

.posts__body {
  width: 100%;
  padding: 1rem;
  max-height: 70vh;
  overflow-y: auto;
}

.posts__body::-webkit-scrollbar {
  width: 0.3em;
}

.posts__body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.posts__body::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 3px solid #dbdbdb;
}

.posts__footer {
  width: 100%;
  padding: 0.5rem;
}

.posts__item {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  border-top: 1px solid #dbdbdb;
}

.posts__content {
  display: flex;
}

.posts__content-item {
  font-size: 1.4rem;
  padding: 0.5rem;
}

.posts__title {
  width: 37rem;
}

.posts__category {
  width: 13rem;
}

.posts__details {
  width: 18rem;
  display: flex;
  justify-content: space-evenly;
}

.posts__date {
  width: 12rem;
}

.posts__featured {
  width: 6rem;
}

.posts__edit {
  width: 6rem;
}

.categories,
.tags {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.categories__header,
.tags__header {
  width: 100%;
  padding: 1rem;
}

.categories__body,
.tags__body {
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

.categories__body::-webkit-scrollbar,
.tags__body::-webkit-scrollbar {
  width: 0.3em;
}

.categories__body::-webkit-scrollbar-track,
.tags__body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.categories__body::-webkit-scrollbar-thumb,
.tags__body::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 3px solid #dbdbdb;
}

.categories__footer,
.tags__footer {
  width: 100%;
  padding: 0.5rem;
}

.categories__item,
.tags__item {
  width: 100%;
  display: flex;
  cursor: pointer;
  border-top: 1px solid #dbdbdb;
}

.categories__content,
.tags__content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.categories__content-item,
.tags__content-item {
  font-size: 1.4rem;
  padding: 1.5rem;
}

.categories__name,
.tags__name {
  width: 13rem;
}

.categories__slug,
.tags__slug {
  width: 13rem;
}

.categories__description,
.tags__description {
  width: 12rem;
}

.categories__posts,
.tags__posts {
  width: 6rem;
  display: flex;
  justify-content: space-evenly;
}

.categories__edit,
.tags__edit {
  width: 4rem;
}

.categories__trash,
.tags__trash {
  width: 4rem;
}

.addcategory,
.addtag {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin-left: 1rem;
  padding: 1.5rem;
}

.addcategory__item,
.addtag__item {
  width: 100%;
  padding: 1rem 0;
}

.addcategory__label,
.addtag__label {
  width: 100%;
  font-size: 1.5rem;
}

.addcategory__input,
.addtag__input {
  width: 100%;
  font-size: 1.5rem;
  outline: none;
  border: none;
  background-color: #dbdbdb;
  padding: 1rem;
  border-radius: 0.5rem;
}

.addcategory__btn,
.addtag__btn {
  border-radius: 0.3rem;
  padding: 1rem;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.addcategory__error,
.addtag__error {
  font-size: 1.3rem;
  color: #f84251;
}

.users {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin-top: 2rem;
}

.users__header {
  width: 100%;
  padding: 1rem;
}

.users__body {
  width: 100%;
  padding: 1rem;
  max-height: 70vh;
  overflow-y: auto;
}

.users__body::-webkit-scrollbar {
  width: 0.3em;
}

.users__body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.users__body::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 3px solid #dbdbdb;
}

.users__footer {
  width: 100%;
  padding: 0.5rem;
}

.users__item {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  border-top: 1px solid #dbdbdb;
}

.users__content {
  display: flex;
}

.users__content-item {
  font-size: 1.4rem;
  padding: 0.5rem;
}

.users__name {
  width: 22rem;
}

.users__username {
  width: 16rem;
}

.users__email {
  width: 24rem;
}

.users__role {
  width: 16rem;
}

.users__date {
  width: 8rem;
}

.users__edit {
  width: 6rem;
}

.dashboard {
  padding: 1rem;
}

