.sidebar {
    width: 16vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #e6ebee;
    padding: 1.4rem 2rem;
    position: fixed;
    background-color: $white;

    &__top {
        width: 100%;
    }

    &__bottom {
        width: 100%;
    }

    &__title {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    &__list {
        width: 100%;
    }

    &__item {
        width: 100%;
        padding: .7rem 1.5rem;
        border-radius: 2rem;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &:hover {
            background-color: #e6ebee;
        }
    }

    &__link {

    }

    &__icon {
        font-size: 1.5rem;
        margin-right: 1rem;
        color: gray;
    }

    &__name {
        font-size: 1.3rem;

        &--title {
            font-size: 2.5rem;
            font-weight: 300;
            border-top: 3px solid $blue;
            text-transform: lowercase;
            letter-spacing: -2px;

            & b {
                font-weight: 900;
            }
        }
    }

    &__authuser {
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-right: 1rem;
        }

        &-name {
            font-size: 1.5rem;
        }
    }
}
