*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $default-font-family;
    font-size: $default-font-size;
}

body {
    background-color: $body-bg;
    position: relative;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
}

ul, ol {
    list-style-type: none;
}
