// HEADING
.heading {

    &-title {
        font-size: 1.9rem;

        &--large {
            font-size: 3rem;
        }
    }

    &-primary {
        font-size: 1.9rem;
        font-weight: 400;
    }

    &-secondary {
        font-size: 1.6rem;
        font-weight: 400;
    }

    &-tertiary {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

// PARAGRAPH
.paragraph {
    font-size: 1.6rem;
    font-weight: 300;
}


// TEXT
.text-primary { color: $blue !important; }
