.editprofile {
    width: 100%;
    padding: 1rem;

    &__item {
        width: 100%;
        padding: .5rem;
    }

    &__label {
        display: block;
        font-size: 1.5rem;
    }

    &__input {
        width: 100%;
        outline: none;
        border: 1px solid #e6ebee;
        font-size: 1.5rem;
        padding: .5rem 1rem;
    }

    &__textarea {
        width: 100%;
        outline: none;
        border: 1px solid #e6ebee;
        font-size: 1.5rem;
        padding: .5rem 1rem;
    }

    &__select {
        width: 100%;
        outline: none;
        border: 1px solid #e6ebee;
        font-size: 1.5rem;
        padding: .5rem 1rem;
    }

    &__img {
        width: 20%;
        border-radius: 50%;
    }

    &__btn {
        width: 100%;
        padding: .5rem 1rem;
        font-size: 1.4rem;
    }
}
