.register {
    width: 100%;
    margin-top: 2rem;
    padding: 2rem 4rem;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: .5rem;

    &__header {
        margin-bottom: 1rem;
    }

    &__body {
        padding: 1.5rem;
    }

    &__footer {
        margin-top: 1rem;
    }

    &__item {
        width: 100%;
        padding: .5rem 0;
    }

    &__input {
        width: 100%;
        background-color: #e6ebee;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        outline: none;
        border: none;
        border-radius: .3rem;
        padding: 1.2rem 1.4rem;
        font-size: 1.5rem;
        font-weight: 300;
    }

    &__title {
        font-size: 2.1rem;
        font-weight: 300;
    }

    &__btn {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        border-radius: .4rem;
    }

    &__error {
        font-size: 1.3rem;
        color: $red;
    }
}

.is-invalid {
    border: 1px solid $red;
}
