// Font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// Body
$body-bg: #f5f7fa;

// Typography
$default-font-family: 'Lato', sans-serif;
$default-font-size: 62.5%;

// Colors
$blue: #3762ff;
$red: #f84251;
$green: #12d312;
$white: #fff;
$black: #000;

$gray: #777777; //#9ea3a8;
$light-gray: #dbdbdb;
$dark-gray: #23282d;
