.searchbar {
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    &__input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 1.4rem;
        padding: 1rem;

    }

    &__btn {
        border: none;
        outline: none;
        width: 4.3rem;
        cursor: pointer;
    }
}
